@font-face {
    font-family: 'GasoekOne';
    src: url('/resources/fonts/GasoekOne-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Gantari';
    src: url('/resources/fonts/Gantari-VariableFont_wght.ttf') format('truetype');
}


.header{
    font-family: 'GasoekOne', sans-serif;
}

.body{
    font-family: 'Gantari', sans-serif;
}