@keyframes fadeIn{
    0%{
        opacity: 0%;
        transform: translateY(-1%);
    }

    100%{
        opacity: 100%;
        transform: translateY(0%);
    }
}



#containerLR{
    animation: fadeIn 500ms linear;
}
